:root {
  --header-primary: #0A4CFF;
  --header-secondary: #444;
  --bg-color-primary: #F3F4F8;
}
body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
h1 {
  color: var(--header-primary);
}
h2 {
  color: var(--header-secondary);
}

.full-width {
  width: 100%;
}

.standard-width {
  width: 80%;
  max-width: 1024px;
  margin: auto;
}

.circle {
  border-radius: 50%
}
