:root {
  --header-primary: rgb(82,139,255);
  --header-secondary: #444;
  --bg-color-primary: white;
  --color-primary: #444;
  --color-secondary: rgb(130,137,151);
}
body {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
h1 {
  color: var(--header-primary);
}
h2 {
  color: var(--header-secondary);
}

.full-width {
  width: 100%;
}

.standard-width {
  width: 97%;
  max-width: 1500px;
  margin: auto;
}

.circle {
  border-radius: 50%
}

@media screen and (max-width:800px) {
  .standard-width {
    width: 100%;
  }
}
