@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lato');
body {
  margin: 0;
  padding: 0;
  color: #444;
}
h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
h1 {
  color: rgb(82,139,255);
}
h2 {
  color: #444;
}
.full-width {
  width: 100%;
}
.standard-width {
  width: 97%;
  max-width: 1500px;
  margin: auto;
}
.circle {
  border-radius: 50%;
}
@media screen and (max-width:800px) {
  .standard-width {
    width: 100%;
  }
}
.background {
  position: fixed;
  top: 0;
  height: 100vh;
  opacity: 0.45;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  /*background-color: lightblue;*/
}

#content {
  position: relative;
}

#content section {
  background-color: white;
  height: 50vh;
  margin-bottom: 20px;
}

#content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  padding-top: 16px;
  box-shadow: 0px 2px 5px rgb(198, 212, 240)
}

#header {
  position: relative;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header h1 {
  color: white !important;
  font-family: "Lato", sans-serif;
  font-size: 4em;
  margin: 0 0 0 -4px;
  padding: 0;
  text-shadow: 2px 1px 3px #444;
}

#header h2 {
  margin: 0;
  padding: 0;
  font-family: "Droid Serif", serif;
  font-size: 2em;
}

#header .inner {
  margin-left: 15px;
}

#header .face {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 450px) {
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header h1 {
    font-size: 3em;
    text-align: center;
  }
  #header h2 {
    font-size: 1.3em;
    text-align: center;
  }
}

@media screen and (min-width: 451px) and (max-width: 620px) {
  #header {
    height: 70vh;
  }
  #header h1 {
    font-size: 2.5em;
  }
  #header h2 {
    font-size: 1.3em;
  }
}
